.my-list{
    background-color: #9bf781;
    padding: 8px 24px;
    width: 500px;
    margin: auto;
    font-size: 30px;
    border: 1px solid #9bf781;
    box-shadow: 0 0 10px 2px #333333;
}
ol{
    Margin: 12px;
}
p{
    text-align: center;
}